.project-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	article{
		padding: 20px;
		width: 50%;

		@include mq('mobile') {
			width: 33.333%;
		}

		@include mq('laptop') {
				width: 25%;
		}

		&:hover{
			background-color: rgba(0,0,0,0.05);
		}

	}
}
