$mobile-mq: laptop;

.brand  {  }

#toggle{
  position: absolute;  right: 0;

  @include mq($mobile-mq) {  display: none;  }  } // Toggle

.mobile-nav{  padding-bottom: 10px;  }

nav{
  position: relative;
  width: 100%;

  @include mq($mobile-mq) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;

    @include mq($mobile-mq) {
        width: auto;
        display: block !important;
    }

  }  // ul

  li{
    display: block;
    text-align: center;
    margin-top: -1px;

    @include mq($mobile-mq) {
        display: inline-block !important;
    }

    a{
      display: block;
      padding: 10px;
      border: 1px solid lightgray;

      &:hover{
        background-color: lightgray;
    }  }  // a

    }  // li

}
